/*Cores podem ser Hexadecimais #000000 ou RGB(0, 0, 0)*/
header{

}

.caixa{
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display:inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}

#banner {
	width: 100%;
}

.principal {
	background: #CCCCCC;
	padding: 30px;
}

.tituloPrincipal {
	padding-left: 20px;
}

.tituloCentralizado {
	text-align: center;
}
		
p {
	text-align: center;
}

#missao {
	font-size: 20px;
}

em strong {
	color: #FF0000;
}

.item {
	font-style: italic;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagemBeneficios {
	width: 50%;
}

footer{
	text-align: center;
	background: url('bg.jpg');
	padding: 40px 0;
}

.copyright{
	color: #CCCCCC;
	font-size: 13px;
	margin-top: 20px 0 0;
}